server:
  port: 8080

database:
  host: "mysql" 
  port: 3306
  user: "root"
  password: "123456"
  name: "bookstore"

redis:
  host: "redis" 
  port: 6379
  password: ""
  db: 0

rabbitmq:
  host: "rabbitmq"
  port: 5672
  user: "guest"
  password: "guest"
  vhost: "/"